/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v31-cyrillic_latin-regular.woff2')
        format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v31-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kaushan-script-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kaushan-script-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v49-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}

a {
    color: #95e1d3;
    text-decoration: none;
}

p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    color: #b6b6b6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    width: 60px;
    height: 4px;
    background-color: #f38181;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.pretitle {
    margin-top: 68px;
    text-align: center;
    font-family: 'Kaushan Script';
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

/* header */
.header {
    padding-top: 17px;
}

.header-logo {
    font-size: 30px;
    font-weight: 700;
}

.header .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header .menu {
    display: flex;
    gap: 55px;
    list-style-type: none;
}

.active {
    padding-bottom: 10px;
    color: #f38181;
    border-bottom: 3px solid #f38181;
}

/* benefits */
.benefits-list__content h4 {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.benefits-list__content p {
    margin: 0;
    line-height: 1.3em;
}

.benefits .divider {
    margin-bottom: 60px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    gap: 105px 30px;
}

.benefits-list__item {
    display: flex;
    flex-basis: calc((100% - 60px) / 3);
    gap: 20px;
}

.benefits-list__item svg {
    width: 38px;
    min-width: 38px;
}

/* team */
.team {
    text-align: center;
}

.item-icon img {
    display: block;
}

.team .divider {
    margin-bottom: 45px;
}

.team-list {
    margin: 17px 0 80px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
}

.team-list__item h4 {
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 11px;
}

.team-list__item p {
    margin: 0;
    font-weight: 300;
    font-style: italic;
}

/* footer */
.footer-divider {
    width: 1200px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #b6b6b6;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info p {
    color: #000;
}

.footer-info p span {
    color: #f38181;
}

.footer-lead {
    display: flex;
    margin-bottom: 10px;
}

.footer-lead input[type='email'] {
    width: 230px;
    height: 40px;
    padding: 12px 0 12px 10px;
    border: 1px solid #b6b6b6;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
}

.footer-lead input[type='email']:focus {
    border: 1px solid #858484;
    outline: none;
}

.footer-lead input[type='submit'] {
    width: 150px;
    height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    border-style: none;
    color: white;
    background-color: #95e1d3;
}
