/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v31-cyrillic_latin-regular.woff2')
        format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v31-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kaushan-script-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kaushan-script-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v49-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 14px;
}

.header-logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: #95e1d3;
}

.menu-item a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #95e1d3;
}

#menu-item-active {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #f38181;
}

.benefits h2 {
    font-family: 'Kaushan Script';
    font-weight: 400;
}

.benefits h3 {
    font-family: 'Montserrat';
    font-weight: 700;
}

.benefits-list__item h4 {
    font-family: 'Montserrat';
    font-weight: 400;
}

.benefits-list__item p {
    font-family: 'Roboto';
    font-weight: 400;
}

.team h2 {
    font-family: 'Kaushan Script';
    font-weight: 400;
}

.team h3 {
    font-family: 'Montserrat';
    font-weight: 700;
}

.team p {
    font-family: 'Roboto';
    font-weight: 400;
}

.team-list__item h4 {
    font-family: 'Montserrat';
    font-weight: 400;
}

.team-list__item p {
    font-family: 'Roboto';
    font-weight: 300;
}

.footer-info {
    font-family: 'Montserrat';
    font-weight: 400;
}

input[type='email'] {
    font-family: 'Roboto';
    font-weight: 00;
}

input[type='button'] {
    font-family: 'Montserrat';
    font-weight: 700;
}
