/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v31-cyrillic_latin-regular.woff2')
        format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v31-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kaushan-script-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kaushan-script-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v49-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}

a {
    color: #95e1d3;
    text-decoration: none;
}

h2 {
    font-family: 'Kaushan Script';
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-size: 30px;
}

p {
    font-family: 'Roboto';
    font-size: 15px;
}

input[type='email'] {
    font-family: 'Roboto';
    font-weight: 300;
}

input[type='button'] {
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
.header {
    padding-top: 17px;
}

.header-logo {
    font-weight: 700;
    font-size: 30px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header .menu {
    display: flex;
    gap: 55px;
    list-style-type: none;
}

.active {
    text-decoration: none;
    color: #f38181;
}

/* benefits */
.benefits h2 {
    margin-top: 68px;
    text-align: center;
}

.benefits h3 {
    margin-top: 20px;
    margin-bottom: 109px;
    text-align: center;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

/* team */

.team h2 {
    margin-top: 100px;
    text-align: center;
}

.team h3 {
    margin-top: 20px;
    margin-bottom: 85px;
    text-align: center;
}

.team-list {
    margin-top: 17px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    list-style-type: none;
}

.team-list__item h4 {
    margin-top: 30px;
    margin-bottom: 11px;
}

.team-list__item p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
}

/* footer */

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
